<%- include('header') -%> <%- include('navbar', {isAuthenticated: true}) %>

<div class="container">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">
          CREATE NEW EVENT
        </h5>
      </div>
      <form method="post" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="d-flex justify-content-center">
            <img id="target" class="w-50 d-inline-flex" />
          </div>
          <input
            type="file"
            id="select_image"
            name="event_image"
            class="d-flex justify-content-center my-2 float-none"
            onchange="putImage()"
          />
          <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Event name</label>
                  <input
                    type="text"
                    name="event_name"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Event name"
                    required
                  />
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <input
                    type="datetime-local"
                    name="event_date"
                    class="mt-4"
                    required
                  />
                </div>
              </div>
              <div class="form-group mt-4">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea
                  name="event_description"
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                  required
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="submit" class="btn btn-warning">DONE</button>
          <a
            href="/events"
            type="button"
            class="btn btn-light"
            data-dismiss="modal"
          >
            Close
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('footer') -%>
