<%- include('header') -%> <%- include('navbar', {isAuthenticated: true}) %>

<div class="container">
  <div
    class="
      row
      p-5
      justify-content-center
      border border-1 border-dark
      justify-content-center
      text-center
      mt-5
    "
  >
    <h2 class="text-dark mb-3">
      Here you will find all of your „favorited” event
    </h2>
    <div id="favorites_events" class="d-flex flex-wrap">
      <% favorites.forEach(favoriteEvent => { %> <%-
      include('common_event_card', {event: favoriteEvent, isToday: false}) %>
      <%}); %>
    </div>
  </div>
</div>
<%- include('footer') -%>
